body {
    height: 100%;
    width: 100%;
    margin: 0;
  
}
/*----------*/
                                    /*-----HEADER-----*/
header {
    background-image: url("images/bg_3.jpg");  /*Establecemos la imágen de fondo, medidas y posición*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 93vh;
    color: #ffff; 
    display:grid; /*Establecemos un grid para el header dividiendolo en una coluna y dos filas*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

/*-----NAVCONTAINER-----*/
#navContainer nav{
    grid-row: 1; /*colocamos el contenedor en la primera columna y le damos la disposición de flexbox*/
    display: flex;
    align-items: center;
    padding-top: 2vh;
  }

    /*-----MENU HORIZONTAL-----*/

#horizontalMenu{
    width: 100%;
}

#horizontalMenu ul{
    display: flex; /*posicionamos el menu de forma lateral y dandole un espacio entre cada elemento*/
    justify-content: space-between;
    width: 70%;
    padding-top: 1vh;
    gap: 2%;
    margin-left: 10%;
    font-size: bold;
}

#horizontalMenu ul li a{
    display:block;
    color: #ffff;
    text-decoration: none;
    padding: 0.7vh;
    font-size: 1vh;
    white-space: nowrap; /*Evitamos que el texto se desborde del contenedor*/
}
        /*-----AGREGARLISTADO-----*/
#listado{
    border: solid #ffff 1px;/*le damos estilo al boton de agregar en el menú*/
    border-radius: 5vh;
    padding: 0.7vh 2vh;
}

#listado:hover{
    background-color: #F85959;
    color: #fff;
    border-color: #F85959;
}

    /*-----LOGO-----*/
#navContainer .logo{
    margin-left:  20%; /*situamos y damos estilo al logo*/
    font-size: 2vh;
    font-size: bold;
    color: #ffff;
}

    /*-----BOTÓN DE MENU-----*/
#navContainer nav button{
    display: none; /*Ocultamos el botón de Menu mientras no haga falta*/
  }

    /*-----SUBHEADER-----*/

#subHeader{
    grid-row: 2;/*colocoamos el subheader centrando el texto*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;
}


/*-----MEDIA QUERYS-----*/

/*le damos todas las medidas necesarias para poder usar la aplicación en dispositivos móviles*/

@media (max-width: 768px) {
    header {
        height: 40vh; 
    }

    #horizontalMenu ul {
        display: none; 
    }
    #navContainer nav button {
        display: block; 
    }

    #navContainer .logo {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1.8vh; 
    }

    #subHeader {
        padding-bottom: 10%; 
    }
}